body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }
   
    .menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
    }
    main{
    margin: 0 auto;
    width: 980px;
    position: relative;
    }

    .logo{
     
     padding: 16px;
     width: 65%;
     float: left;
     

    }

    .redes-sociais ul li{       /* repare no jeito de acessar o DOM */
        display: inline-block;  /* o float left já está incluso aqui */
        list-style: none;
        padding: 1%;
        
    }

    .redes-sociais{
        width: 30%;
        float: left;
    }

   