.menu ul{
    margin-left: 19%
}


.menu-urls{
    height: 60px;
    border-bottom: 3px solid #efefef;
  
    
    
}

ul {
    padding: 0px !important; 
    
    /* tem que fazer isso por causa de uma predefinição */
}/*    padrão do chrome, o "important é para ele sobrescrever" */

.col-100{
    width: 100%;
    float: left;
    position: relative;
    
    

}

.busca input{
    position: absolute;
    margin-top: 10px;
    text-align: left;
    height: 36;
    width: 190px;
    padding: 12px;
    background-image: url("../src/icone-search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
    border: 1px solid rgb(189, 189, 189)
    
    
}

.busca{
    width: 30%;
    float: right;
    
    
}

.menu{
    width: 70%;
    float:left
}

.menu ul li a{
    color: #8b8b8b;
    /* tira coisas como sublinhado */
    text-decoration: none;
    font-size: 20px;
 /*    deixa todas as letras maiusculas */
    text-transform: uppercase;
    margin-left: 15px;
}

.menu ul li {
    /* para ficar um do lado do outro */
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}


.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding:16px;
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }
   
    .menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
    }
    main{
    margin: 0 auto;
    /* width: 100%; */
    width: 980px;
    position: relative;
    }

    .logo{
     
     padding: 16px;
     width: 70%;
     float: left;
     

    }

    .redes-sociais ul li{       /* repare no jeito de acessar o DOM */
        display: inline-block;  /* o float left já está incluso aqui */
        list-style: none;
        margin-left: 6%;
        
    }

    .redes-sociais{
        width: 20%;
        float: left;
    }

   