main.col-100{
    top:-49;
}

.texto-destaque strong{
    text-align: center;
    color: rgb(59, 59, 59);
}


.texto-destaque h1{
    text-align: center;
    color: rgb(114, 114, 114);
}
.texto-destaque p{
    text-align: center;
    color: rgb(58, 58, 58);
}

#slick-slide00{
    height: 500px!important;
}

.slick-active button{
    background-color: #00bac6!important;
}

/* perceba na sintaxe e que você tem que reparar bem no DOM, leia e observe bem a hierarquia da arvore */
ul.slick-dots li button{
    font-size: 0px;
    background-color: transparent;
    border: solid 3px #ffffff;
    height: 20px;
    width: 15px;
    border-radius: 50%;
    /* serve para mudar o cursosr quando passa por cima do elemento */
    cursor: pointer;  
}
.slick-dots li {
    padding-left: 10px;
    display: inline-block;
      
}

.slick-dots{
    margin: 0 auto;
    position: relative;
    margin-left: 47%;
    top: -50;
    
}

.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
/* só procurei no inspetor de elementos os botoes que ja tinha na lib slick ai modifiquei eles */
button.slick-next{
    width: 25;
    height: 51;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url(../src/proximo.png);
    position: absolute;
    z-index: 9;
    top: 41%;
    left: 85%;
}
button.slick-prev{
    width: 25;
    height: 51;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-image: url(../src/anterior.png);
    position: absolute;
    z-index: 9;
    top: 41%;
    left: 15%;
}

.redes-juntas {
    margin-left: 19px;
}

.menu ul li:hover{
   /*  aquela bordinha que fica em baixo do link quando passa o mouse */
    border-bottom: 2px solid rgb(22,104,255);
    height: 45px;
}

.menu ul li a:hover{
    /* faz que quando passe o mouse mude de cor */
    color: rgb(22, 104, 255);
    
}

.menu ul{
    margin-left: 19%
}


.menu-urls{
    height: 60px;
    border-bottom: 3px solid #efefef;
  
    
    
}

ul {
    padding: 0px !important; 
    
    /* tem que fazer isso por causa de uma predefinição */
}/*    padrão do chrome, o "important é para ele sobrescrever" */
.col-100 {
    width: 100%;
    float: left;
    position: relative;
    top: -46;
}

.busca input{
    position: absolute;
    margin-top: 10px;
    text-align: left;
    height: 36;
    width: 190px;
    padding: 12px;
    background-image: url("../src/icone-search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
    border: 1px solid rgb(189, 189, 189)
    
    
}

.busca{
    width: 30%;
    float: right;
    position: relative;
    left: 99;
    
    
}

.menu{
    width: 70%;
    float:left
}

.menu ul li a{
    color: #8b8b8b;
    /* tira coisas como sublinhado */
    text-decoration: none;
    font-size: 15px;
 /*    deixa todas as letras maiusculas */
    text-transform: uppercase;
    margin-left: 15px;
}

.menu ul li {
    /* para ficar um do lado do outro */
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}


.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding:16px;
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }
   
    .menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
    }

main, .content{
margin: 0 auto;
width: 980px;
position: relative;
    }
    .logo h1{
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        top: -20;
        position: relative;
        color: rgb(253, 253, 253);
    }
    .logo{
     
     padding: 16px;
     width: 70%;
     float: left;
     position: relative;
     left: -109;

    }
    .redes-sociais ul li img{       
       max-width: 25px;
       max-height: 25px;
        
    }

    .redes-sociais ul li{       /* repare no jeito de acessar o DOM */
        display: inline-block;  /* o float left já está incluso aqui */
        list-style: none;
        margin-left: 29px;
        
    }

    .redes-sociais{
        width: 26%;
        float: right;
        position: relative;
        left: 150;
    }

    
