body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }
   
    .menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
    }
    main{
    margin: 0 auto;
    width: 980px;
    position: relative;
    }

    .logo {
     float: left;
     padding: 16px;
     width: 70%;

    }